{% macro tabs(items, groupName, activeValue) %}
<div class="tabs" role="tablist" data-tabs="{{ groupName }}">
  {% for item in items %}
  <button
    type="button"
    class="tabs__tab"
    role="tab"
    data-value="{{ item.value }}"
    aria-selected="{{ 'true' if item.value == activeValue else 'false' }}"
  >{{ item.label }}{% if item.count != undefined %}<span class="tabs__count">{{ item.count }}</span>{% endif %}</button>
  {% endfor %}
</div>
{% endmacro %}
